@import url("../../variables.css");
.score {
    svg {
        width: 100% !important;
        height: auto !important;
    }
    .vf-note {
        cursor: pointer;
        user-select: none;
        &.highlight * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
        &:active * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
    }
}