@import url("../../variables.css");
.score {
    svg {
        /* width: 100% !important;
        height: auto !important; */
        user-select: none;
        fill: var(--score-color);
        stroke: var(--score-color);
    }
    .vf-note {
        cursor: pointer;


        &.highlight * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
        &:active * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
    }
}