@import url("../../variables.css");
.score {
    .vf-note {
        cursor: pointer;
        user-select: none;
        &.highlight * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
        &:active * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
        }
    }
}