@import url("../../variables.css");
.score {
    min-height: 110px;
    svg {
        /* width: 100% !important;
        height: auto !important; */
        user-select: none;
        fill: var(--score-color);
        stroke: var(--score-color);
        path {
            fill: var(--score-color);
            stroke: var(--score-color);
        }
    }
    .vf-note {
        cursor: pointer;


        &.highlight * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
            path {
                fill: var(--highlight-color);
                stroke: var(--highlight-color);
            }
        }
        &:active * {
            fill: var(--highlight-color);
            stroke: var(--highlight-color);
            path {
                fill: var(--highlight-color);
                stroke: var(--highlight-color);
            }
        }
    }
}