@import url("../../variables.css");
.scale-info-bar {
    margin: 0.25rem;
    background-color: var(--scale-info-bar-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .play-button {
        background-color: var(--play-button-color);
        color: var(--base-background-color);
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        &::before {
            content: "\25B6"; /* Unicode for play icon */
            margin-right: 0.5rem;
        }
    }
    .notes-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .notes-list {
        list-style: none;
        display: flex;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
    }
    .note-pill {
        background-color: var(--in-current-run-color);
        color: var(--base-color);
        outline: 1px solid var(--base-color);
        padding: 0.5rem;
        &.descending-variant {
            background-color: var(--descending-variant-note-color);
            color: var(--base-color)
        }
    }
     .note-pill.highlight {
        background-color: var(--highlight-color);
        color: var(--base-background-color);
    }
}