@import url("../../variables.css");
.scale-info-bar {
    min-height: 6.5rem;
    margin: 0.25rem;
    background-color: var(--scale-info-bar-background-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
     .notes-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .top-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        .play-button {
            position: absolute;
            left: 0;
            background-color: var(--play-button-color);
            color: var(--base-background-color);
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            &::before {
                content: "\25B6"; /* Unicode for play icon */
                margin-right: 0.5rem;
            }
        }
        .ok-button {
            position: absolute;
            right: 0;

            color: var(--base-color);
            padding: 0.5rem;
            border-radius: 0.25rem;
            font-size: 2.5rem;
            &::before {
                content: "\00d7";
            }
        }
    }
    .notes-list {
        list-style: none;
        display: flex;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
    }
    .note-pill {
        background-color: var(--in-current-run-color);
        color: var(--base-color);
        outline: 1px solid var(--key-outline-color);
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        min-width: 2.5em;
        border-radius: 100rem;
        &.descending-variant {
            background-color: var(--descending-variant-note-color);
            color: var(--base-color)
        }
        .accidental {
            margin-left: -0.35em;
            width: 1.4em;
            height: 1.4em;
            user-select: text;
            fill: var(--base-color);
            line {
                stroke: var(--base-color);
            }
        }
        .accidental + .accidental {
            margin-left: -0.9em;
        }
    }
     .note-pill.highlight {
        background-color: var(--highlight-color);
        color: var(--base-background-color);
        .accidental {
            fill: var(--base-background-color);
            line {
                stroke: var(--base-background-color);
            }
        }
    }
}