@import url("../../variables.css");
.scale-panel {
    .musical-typing-toggle-button {
        margin-left: 0.25rem;
        background-color: var(--green-secondary);
        color: var(--base-background-color);
        padding: 1rem;
        border-radius: 1rem;
        transition: ease-in-out transform 0.2s, ease-in-out box-shadow 0.2s;
        &.pressed {
            box-shadow: inset 0 0 15px rgb(0, 0, 0, 0.8);
            transform:scale(0.95);
        }
        &::before {
            font-size: 1.5rem;
            content:"\23FB";
            margin-right: 0.5rem;
            font-weight: bold;
        }
    }
    .musical-typing-instructions {
        margin-top: 0.5rem;
    }
}