@import url("../../variables.css");
.scale-panel {
    .musical-typing-toggle-button {
        background-color: var(--green-secondary);
        color: var(--base-background-color);
        padding: 1rem;
        border-radius: 1rem;
        transition: ease-in-out transform 0.2s, ease-in-out box-shadow 0.2s;
        &.pressed {
            box-shadow: inset 0 0 15px rgb(0, 0, 0, 0.8);
            transform:scale(0.95);
        }
    }
}