.scale-panel {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0.25rem;
    background-color: #f9f9f9;
    max-width: 1000px;
    margin-inline: auto;
    .score-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}