@import url("../../variables.css");
.scale-panel {
    border: 1px solid var(--scale-panel-border-color);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    max-width: 1200px;
    margin-inline: auto;
    .score-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}