.comparison-button {
  background-color: var(--green-primary);
  color: var(--base-color);
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.2s color;  
    &.active {
      background-color: var(--green-secondary);
      color: var(--base-background-color);
    }
  
}
