@import url("../../variables.css");
.keyboard-widget {
    padding: 1rem;
    .keyboard {
        display: flex;
        justify-content: center;
        .key {
            display: inline-block;
            vertical-align: top;
            outline: 1px solid var(--black-key-color);
            cursor: pointer;
            position: relative;
            &:not(.no-offset) {
                margin-left: min(-1.3vmax, -0.5rem);
            }

            &:focus {
                outline: 1px solid var(--highlight-color);
            }
            &:active {
                background-color: var(--highlight-color);
            }

        }
        .key.in-current-scale {
            background-color: var(--in-current-run-color);
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.in-current-run {
            background-color: var(--in-current-run-color);
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.descending-variant {
            background-color: var(--descending-variant-note-color);
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .whiteKey {
            height: 10.5vmax;
            width: 3.5vmax;
            z-index: 1;
            background-color: var(--white-key-color);
        }

        .blackKey {
            height: 5.5vmax;
            width: 2.5vmax;
            z-index: 2;
            background-color: var(--black-key-color);
        }

        .quarter {
            border-bottom: 15px solid var(--quarter-tone-key-color);
        }
        .key.highlight {
            background-color: var(--highlight-color);
        }
    }
}
