@import url("../../variables.css");
.keyboard-widget {
    padding: 1rem;

    .keyboard {
        /* height: fit-content; */
        /* white-space: nowrap; */
        display: flex;
        justify-content: center;
        .key {
            display: inline-block;
            vertical-align: top;
            border: 1px solid black;
            cursor: pointer;
            position: relative;
            &.no-offset:not(:first-child) {
                border-left: none;
            }
            &:not(.no-offset) {
                margin-left: -1.3vmax;
            }

            &:focus {
                outline: 1px solid var(--highlight-color);
            }
            &:active {
                background-color: var(--highlight-color);
            }

        }
        .key.in-current-scale {
            background-color: #eee;
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.in-current-run {
            background-color: var(--in-current-run-color);
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.descending-variant {
            background-color: var(--descending-variant-note-color);
             &:active {
                background-color: var(--highlight-color);
            }
        }
        .whiteKey {
            height: 10.5vmax;
            width: 3.5vmax;
            z-index: 1;
            background-color: var(--white-key-color);
        }

        .blackKey {
            height: 5.5vmax;
            width: 2.5vmax;
            z-index: 2;
            background-color: var(--black-key-color);
        }

        .quarter {
            border-bottom: 15px solid var(--quarter-tone-key-color);
        }
        .key.highlight {
            background-color: var(--highlight-color);
        }
    }
}
