@import url("../../variables.css");

.keyboard-container {
    width: 100%;
    max-width: 56rem;
    margin: 1rem auto;
    background-color: var(--keyboard-bg-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    .keyboard {
            display: flex;
            gap: 0.1rem;
            width: 100%;
            height: calc(20vmax + 0.1rem); /* Height scales relative to viewport width */
            max-height: 12rem;
            min-height: 9rem;
        .key {
            outline: 2px solid var(--key-outline-color);
            cursor: pointer;
            position: relative;

            &:focus-visible {
                outline: 2px solid var(--highlight-color);
            }
            &:active {
                background-color: var(--highlight-color);
                margin-top: 0.1rem;
            }

        }

        .key.in-current-scale {
            background-color: var(--base-grey);
            &:active {
                background-color: var(--highlight-color);
            }
        }

        .key.in-current-run {
            background-color: var(--in-current-run-color);
            &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.descending-variant {
            background-color: var(--descending-variant-note-color);
                &:active {
                background-color: var(--highlight-color);
            }
        }
        .whiteKey {
            flex: 1;
            z-index: 1;
            background-color: var(--white-key-color);
            border-radius: 0 0 0.25rem 0.25rem;
        }

        .blackKey {
            width: 6%; /* Adjusts width relative to parent */
            height: 55%;
            margin-left: -3%; 
            margin-right: -3%;
            z-index: 2;
            background-color: var(--black-key-color);
            border-radius: 0 0 0.2rem 0.22rem;
        }

        .quarter::after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            content: "";
            height: 1.5rem;
            width: 100%;
            background-color: var(--quarter-tone-key-color)
            /* border-bottom: 1.5rem solid var(--quarter-tone-key-color); */
        }
        .key.highlight {
            background-color: var(--highlight-color);
            margin-top: 0.1rem;
        }
        .whiteKey + .whiteKey {
            margin-left: 0.1rem;
        }

        .musical-typing-key-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            max-width: 50%;
            margin: 0 auto;
            pointer-events: none;
            .musical-typing-key-label {
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                padding: 0.2rem;
                margin-bottom: 2rem;
                border-radius: 0.3rem;
                color: var(--base-color);
                background-color: var(--base-background-color);
                box-shadow: 0 0 0.5rem var(--base-color);
                
            }
        }
    }
}
