@import url("../../variables.css");

.keyboard-container {
    width: 100%;
    max-width: 56rem;
    margin: 1rem auto;
    .keyboard {
            display: flex;
            width: 100%;
            height: calc(20vmax + 0.1rem); /* Height scales relative to viewport width */
            max-height: 12rem;
            min-height: 9rem;
        .key {
            outline: 1px solid var(--key-outline-color);
            cursor: pointer;
            position: relative;

    

            &:focus {
                outline: 1px solid var(--highlight-color);
            }
            &:active {
                background-color: var(--highlight-color);
            }

        }

        .key.in-current-scale {
            background-color: var(--base-grey);
            &:active {
                background-color: var(--highlight-color);
            }
        }

        .key.in-current-run {
            background-color: var(--in-current-run-color);
            &:active {
                background-color: var(--highlight-color);
            }
        }
        .key.descending-variant {
            background-color: var(--descending-variant-note-color);
                &:active {
                background-color: var(--highlight-color);
            }
        }
        .whiteKey {
            flex: 1;
            z-index: 1;
            background-color: var(--white-key-color);
        }

        .blackKey {
            width: 5.5%; /* Adjusts width relative to parent */
            height: 55%;
            margin-left: -3%; 
            margin-right: -3%;
            z-index: 2;
            background-color: var(--black-key-color);
        }

        .quarter {
            border-bottom: 0.8rem solid var(--quarter-tone-key-color);
        }
        .key.highlight {
            background-color: var(--highlight-color);
        }
        .whiteKey + .whiteKey {
            margin-left: 0;
        }
    }
}
