.maqam-board {
    border: 1px solid var(--scale-panel-border-color);
    background-color: var(--scale-panel-bg-color);
    max-width: 1200px;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    .header {
        padding-inline: 2rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .maqam-title {
            flex: 1;
        }
        .key-picker {
            align-self: start;
        }
    }
    .comparing-scale-panel {
        transition: ease-in-out 0.2s;
        opacity: 1;
        interpolate-size: allow-keywords;
        height: auto;
        @starting-style {
            opacity: 0;
            height: 0;
        }
    }
}