.maqam-board {
    border: 1px solid var(--scale-panel-border-color);
    background-color: var(--scale-panel-bg-color);
    max-width: 90rem;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    .header {
        position: relative;
        padding-inline: 2rem;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .key-picker {
            position: absolute;
            right: 0;
        }
    }
    .scale-panel-group-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .comparing-scale-panel {
        transition: ease-in-out 0.2s, opacity, translate;
        opacity: 1;
        @starting-style {
            opacity: 0;
            transform: translate(100%);
        }
    }
    .main-scale-panel, .comparing-scale-panel {
        flex: 1;
    }
}