
@import url('./variables.css');

body {
  background-color: var(--base-background-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
select {
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

