:root {
    /* for both dark and light - global */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* base color variables */
    --base-color: #1b0a0a;
    --base-background-color: white;
    --green-primary: #81cc83;
    --green-secondary: #1e7e51;
    --green-3: #d7fe98;
    --base-grey: #eee;
    --red-primary: #9d2020;

    /* specific color variables */
    --scale-panel-border-color: #ccc;
    --scale-info-bar-background-color: var(--base-grey);
    --highlight-color: royalblue;
    --black-key-color: black;
    --white-key-color: white;
    --quarter-tone-key-color: var(--red-primary);
    --in-current-run-color: #81cc83;
    --descending-variant-note-color: var(--green-3);
    --play-button-color: var(--green-secondary);
    
    color: var(--base-color); 
    background-color: var(--base-background-color);
}
[data-theme="dark"] {
    --base-color:white;
    --base-background-color: #1b0a0a;
}


