@import url("../../variables.css");

nav {
  background-color: #eee;
  padding: 0.5rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* progressive enhancement - css only scrollspy with scroll-target group */
    scroll-target-group: auto;
  }
  li {
  cursor: pointer;
    a {
      transition: ease-in-out 0.2s;
      &.active {
        font-weight: bold;
        color: var(--play-button-color);
      }
      /* progressive enhancement - css only scrollspy with scroll-target group */
      &:target-current {
        font-weight: bold;
        color: var(--play-button-color);
      }
    } 
  }   
}