nav {
  background-color: #eee;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  cursor: pointer;
  a {
    transition: ease-in-out 0.2s;
    &.active {
      font-weight: bold;
      color: darkgreen;
    }
  }
}