@import url("../../variables.css");
.darkmode-switch-container {

    position: absolute;
    top: 0;
    left: 0;
    padding-block: 0.5rem;
    display: flex;
    svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: white;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        transition: ease-in-out 0.2s;
    }

    .toggle {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .toggle + label {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--base-color);
        /* background of switch */
        &::before {
            content: "";
            height: 1rem;
            width: 2rem;
            border-radius: 1rem;
            background-color: var(--base-background-color);
        }
        /* circle inside of switch */
        &::after {
            content: "";
            height: 0.8rem;
            width: 0.8rem;
            border-radius: 1rem;
            background-color: var(--base-color);
            position: absolute;
            left: 2rem;
            transition: ease-in-out 0.2s;
        }
    }
    .toggle:checked + label::after {
        transform: translateX(100%);
    }
    &:has(.toggle:checked) .moon-icon {
        fill: var(--sun-moon-icon-fill);
    }
    &:not(:has(.toggle:checked)) .sun-icon {
        fill: var(--sun-moon-icon-fill);
    }
}
